* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.7em;
    background: white;
  }
  
body::-webkit-scrollbar-thumb {
    background: #c0392b;
    height:30px;
}
  
body::-webkit-scrollbar-track-piece {
     display:none;
}

body {
    font-family: 'Gluten', sans-serif;
    font-size: 1.5rem;
    color: white;
}

input {
    width: 275px;
    height: 30px;
}

button {
    height: 30px;
    width: 30px;
}

.container {
    height: 1300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    grid-template-areas: 
    'addExercise'
    'exercise-list'
    'addData'
    'chart';
    background: radial-gradient(circle, rgba(0,44,255,1) 41%, rgba(0,18,144,1) 100%);
}

.addExercise,
.exercise-list-container,
.addData {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addData {
    flex-direction: column;
}

.addExercise {
    grid-area: addExercise;
}

.addExercise-div {
    display: flex;
    align-items: center;
}

.addData-div {
    display: flex;
}

.exercise-list-container {
    grid-area: exercise-list;
    flex-direction: column;
}

.exercise-list-item {
    width: 275px;
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 5px;
}

.chart {
    grid-area: chart;
    height: fit-content;
    width: 80%;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 50px;
}

#add-data-submit {
    background-image: url('./plus.png');
    background-size: contain;
}

#graph {
    background-image: url('./download.png');
    background-size: contain;
}

#add-exercise-submit {
    background-image: url('./plus.png');
    background-size: contain;
}